/*
article.style.backgroundColor = "black"
article.style.color = "white"
article.style.fontSize = "2.1rem"
article.style.border = "2px solid red"
*/

/*section#html article:nth-child(2){
    background-color: black;
    color: white;
    font-size: 2.1rem;
    border: 2px solid red;
}*/

section{
    cursor: pointer;
}